body{
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/007/073/820/small/wooden-table-and-blur-of-beauty-sunset-sky-and-mountains-as-background-free-photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

h1 {
    text-align:center;
    color:aqua;
}
h4{
    text-align:center;
    color:aqua;
}